.header {
     font-family: 'Raleway', sans-serif;
     text-align: center;
     font-size: 3.5em;
     line-height: 1;
     color: white;
}

.subheader {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    margin-left: 5px;
    text-align: center;
}

body {
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.shadowed-text {
    text-shadow: 4px 4px 2px rgb(20, 20, 20);
}