.header {
     font-family: 'Raleway', sans-serif;
     color: #FFFFFF;
     font-size: 3.5em;
     margin-left: 5px;
 }

.subheader {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    margin-left: 5px;
}

body {
    margin: 0;
    background-color: black;
    background-image: url('/resources/jpg/blurred.jpg');
    background-repeat: no-repeat;
}