body {
    background-image: url('/resources/jpg/welcomebg.jpg');
    background-repeat: no-repeat;
}

.main-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 50%;
}

.containeritem {
    width: 100%;
    color: white;
}

.containeritem-header {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    line-height: 90%;
}

.containeritem-subheader {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 85%;
}

.entersite-button {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    width: 50%;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0.5);
}