body {
    background-image: url('/resources/jpg/welcomebg.jpg');
    background-color: black;
    background-repeat: no-repeat;
}

.containeritem {
    width: 100%;
    color: white;
}

.containeritem-header {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 90%;
}

.containeritem-subheader {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 85%;
}

.entersite-button {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    width: 50%;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s background-color;
    border: 2px solid #f5f5f5;
    padding: 10px;
}

.entersite-button:hover {
    background-color: rgba(255,255,255,0.3);
}