a {
    color: #CCCCCC;
    text-decoration: none;
}

a:hover {
    color: white !important;
}

p {
    color: white;
    font-family: sans-serif;
    line-height: 160%;
}

body {
    word-wrap: break-word;
}

main {
    flex: 1 0 auto;
}

input, select, textarea {
    color: #dddddd;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: black;
    background-image: none;
}


.round-button {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    transition: .3s background-color;
    background-color: rgba(0,0,0,0.8);
}

.round-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #f5f5f5;
}

.centered-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 50%;
}

.bottomized {
    margin-top: 11rem;
}

.horizontally-centered {
    margin: auto;
}

.flex-display {
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: start; /* justify-content */
    -webkit-box-align: start; /* align-items */
}

@supports (flex-wrap: wrap) {
    /* hide from the incomplete Flexbox implementation in Firefox */
    .flex-display {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.with-margin-left-right {
    margin-left: 15px;
    margin-right: 15px;
}

.with-side-padding-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.max-width-500 {
    max-width: 500px;
}

.wrap {
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.text-block {
    background-color: #222222;
    padding: 15px;
    margin-bottom: 10px;
}

.left-column {
    width: 100%;
    margin-right: 15px;
}

.right-column {
    width: 100%;
}

/* ========== POPUP =============== */

.popup-bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1100;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-width: 90%;
}

@media screen and (max-width: 650px) {

    .popup-container {
        width: 90%;
    }
}

/* ========== TEXT EDITOR =============== */

#toolbar {
    background-color: #DDDDDD;
    display: flex;
}

#editor {
    background-color: white;
    min-height: 250px;
}

.toolbar-section {
    margin-left: 10px;
    margin-right: 10px;
}

/* ======= BUTTONS ======= */

.ripieno-button {
    background-color: #222222;
    border: 2px solid #cccccc;
    color: white;
    transition: .3s background-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    min-width: 100px;
    box-sizing: content-box;
    margin: auto;
}

.ripieno-button2 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: auto;
    background: transparent;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: content-box;
}

.ripieno-button2:hover {
    color: white;
    cursor: pointer;
}

.ripieno-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.ripieno-button:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

.expand {
    width: 100%;
}

/* ======= ADMIN ======= */

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.admin-indicator {
    color: white;
    background-color: slategrey;
    padding: 10px;
}

@media screen and (min-width: 800px) {

    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }

    .wrap {
        margin: 10px auto;
        padding: 10px;
        max-width: 1000px;
        justify-content: center;
        flex-direction: row;
    }
}

@media (max-width: 650px) {
    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 18px;
    }
}

