.date {
  text-align: center;
  color: lightgray;
}

.news-content {
  background-color: #222222;
  padding: 10px;
  color: white;
}

.no-news-message {
  background-color: #222222;
  padding: 30px;
  color: white;
}

.warning-message {
  color: white;
  background-color: brown;
  width: 100%;
  padding: 20px;
  display: flex;
}