.date {
  text-align: center;
  color: lightgray;
}

.news-content {
  background-color: #222222;
  padding: 10px;
  color: white;
  width: 100%;
}

.no-news-message {
  background-color: #222222;
  padding: 30px;
  color: white;
}

.warning-message {
  color: white;
  background-color: brown;
  width: 100%;
  padding: 20px;
  display: flex;
}

.share-button-custom {
  margin-top: 10px;
  font-family: Raleway;
  letter-spacing: 3px;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 0px;
  width: 150px;
}